.gridView{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
}
.gridView>li {
    width: 300px;
    height: 300px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 20px;
}
.gridView .photo{
    width: 80%;
    height: 230px;
    border-radius: 3px;
    padding: 0px;

}
.gridView .wrap{
    font-size: 16px;
    align-items: center;
    padding-top: 10px;

}
