.gridView{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
}
.gridView>li {
    width: 300px;
    height: 200px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 5px;
}
.gridView .photo{
    width: 100px;
    height: 80px;
    border-radius: 3px;

}
.gridView .wrap{
    font-size: 19px;
    align-items: center;
    padding-top: 10px;

}
