li{
    border: 1px solid rgb(209, 203, 203);
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    height: 80px;
  
}
img{
    border-radius: 20px;
    width: 45px;
    height: 45px;
    padding-top: 5px;

}

.wrap{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 10px;
}
.female{
    background-color: rgb(243, 213, 218);
}