li{
    border: 1px solid rgb(209, 203, 203);
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    height: 80px;
  
}
.photo{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding-top: 5px;
    padding-left: 5px;

}

.wrap{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 20px;
    justify-content: space-evenly;
}
.female{
    background-color: rgb(243, 213, 218);
}