header{
    background-color: rgb(199, 74, 74);
    color: aliceblue;
    padding: 10px 0;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 
    
}
.bit{
    margin-right: 470px;
    font-family: system-ui;
}
.reload{
    margin-left: 10px;
    font-size: 20px;
}
.grid{
    margin-left: 20px;
    font-size: 20px;
}

.change{
    margin-left: 70px;
}
.about{
    font-family: system-ui;
}