.header{
    width: 100%;
    padding: 10px 0;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
 
    
}
.bit{
    margin-right: 470px;
    font-family: system-ui;
}

.change{
    width: 20%;
    display: flex;
    justify-content: end;
   
}


.reload{
    margin-left: 10px;
    font-size: 20px;
    color:rgb(196, 190, 190);
}
.reload:hover{
    color:rgb(102, 93, 93);
    cursor: pointer;
}
.grid{
    margin-left: 20px;
    font-size: 20px;
    color:rgb(196, 190, 190);
}
.grid:hover{
    color:rgb(102, 93, 93);
    cursor: pointer;
}

.about{
    font-family: system-ui;
}
.bolded{
    color: black;
}