.header{
    width: 100%;
    color: aliceblue;
    padding: 10px 0;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 
    
}
.bit{
    margin-right: 470px;
    font-family: system-ui;
}

.change{
    margin-left: 70px;
    color:rgb(196, 190, 190);
}


.reload{
    margin-left: 10px;
    font-size: 20px;
    color:rgb(196, 190, 190);
}
.reload:hover{
    color:rgb(196, 190, 190);
    cursor: pointer;
}
.grid{
    margin-left: 20px;
    font-size: 20px;
}
.grid:hover{
    color:rgb(196, 190, 190);
    cursor: pointer;
}

.about{
    font-family: system-ui;
}