input{
    width: 30%;
    border-style: none;
     outline: none;
     border-bottom:black;
     font-size: 15px;
     cursor: pointer; 
     background-color: transparent;

}

.searchGlass{
    color:rgb(196, 190, 190);
}
.gender{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color:rgb(196, 190, 190);
}
.genderName{
    margin-right: 20px;
    font-size: 18px;
}